@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    
    section#login{
        width: 80vw;
        height: 350px;
    }
    h1{
        text-align: left;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#formulario{
        float: right;
        height: 100%;
        width: 70%;
        
    }
}
@media screen and (min-width: 993px) {
    
    section#login{
        width: 800px;
        height: 400px;
    }
    h1{
        text-align: right;
    }
    section#login > div#formulario > p{
        text-align: right;
    }
    div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }
    div#formulario{
        float: left;
        height: 100%;
        width: 70%;
        
    }
}