@charset "UTF-8";

:root{
    --cor01: rgb(70, 13, 124);
    --cor02: rgb(38, 117, 117);
    --cor03: rgb(29, 29, 131);
}
*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: var(--cor01);
    width: 100vw;
    height: 100vh;
    
}
main{
    background-color: white;
    width: 400px;
    margin: auto;
}