@charset "UTF-8";

:root{
    --cor01: rgb(70, 13, 124);
    --cor02: rgb(38, 117, 117);
    --cor03: rgb(29, 29, 131);
}
*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: var(--cor01);
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

}
.foto{
    background-image: url(../imagens/pexels-david-underland-3523621.jpg);
    background-size: cover;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.container{
    
    background-color: white;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding-bottom: 10px;
    

}
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
p#texto{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.inputs{
    background-color: var(--cor01);
    margin: 0px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}

#username{
    display: inline-block;
    background-color: rgb(212, 191, 231);
    border: 0;
    border-radius: 5px;
    flex-grow: 1;
    height: 30px;
}
#password{
    background-color: rgb(134, 205, 223);
    border: 0;
    border-radius: 5px;
    flex-grow: 1;
    height: 30px;
}
#bentrar{
    height: 30px;
    border: 0px;
    flex-grow: 1;
    border-radius: 5px;
    background-color: rgb(78, 177, 177);
    color: white;
    font-weight: 700;
}
#besqueci{
    height: 30px;
    border: 1px solid rgb(78, 177, 177);
    flex-grow: 1;
    border-radius: 5px;
    background-color: white;
    color: rgb(78, 177, 177);
}



